<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@Url.Content("~/")">SnakeBattle.Net</a>
            <ul class="nav">
                <li><a href="@Url.Action("Index", "Battle")">Battles</a></li>
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("My Snakes", "Index", "SPA")</li>
                }
            </ul>
            <ul class="nav pull-right">
                @{ Html.RenderAction("LoginMenu", "Profile"); }
            </ul>
        </div>
    </div>
</div>
