<div class="row">
    <div class="col-md-12 col-md-offset-2">
        <div id="replay_container"></div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            SBN.AEM.pub({
                name: 'RenderBattle', msg: {
                    auto: {
                        play: true,
                        rewind: true,
                        speed: 5
                    },
                    selectors: {
                        container: '#replay_container',
                    }
                }
            });
        });
    </script>
}