* { margin: 0px; padding: 0px; border: none; outline: none; }
html { overflow: -moz-scrollbars-vertical; }
body {padding-top: 40px; background-color: whiteSmoke;}
input, select, textarea { font: normal 12px 'MuseoSans' , Helvetica, Arial, sans-serif; line-height: 18px;background-color: whiteSmoke;}
a, a:visited { color: #0000FF; }
b { font-weight: bold; }

/* MISC  
----------------------------------------------------------*/
.error { color: Red; }
.clear { clear: both; }
.spacer { float: left; height: 1px; line-height: 1px; font-size: 1px; width: 6px; }
.loader { visibility: hidden; }
.tooltip { padding: 2px 5px 2px 5px; background: #FFC; border: 1px solid #000000; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error { color: #ff0000; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid { display: none; }

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label { margin: 1em 0 0 0; }
.display-field, .editor-field { margin: 0.5em 0 0 0; }
.text-box { width: 30em; }
.text-box.multi-line { height: 6.5em; }
.tri-state { width: 6em; }
