<div class="row">
    <div class="col-md-8">
        <section>
            @using (Html.BeginForm("ListUsers", "Admin", FormMethod.Get, new { @class = "form-inline", role = "form" }))
            {
                <div class="form-group">
                    <input type="text" class="form-control form-inline" name="username" />
                </div>
                <input type="submit" class="btn btn-default form-inline" value="Search" />
            }
        </section>
    </div>
</div>
