1. We need to replay battles repetadly
	a. battle should be fast
	b. battle should have option to be recorded (or any battle should be recorded?)
		1. this will give us possibility to replay any battle with any speed
		2. 

2. Battle 
	c. should have finite amount of moves
	d. snake with longest body length is considered a winner if all moves were played
	e. snakes get points as a result of each battle
		i. //todo: determine exact amount of points
	e. if two snakes with the same body length left at the end
3. Battle replay
	a. should containt information about every pattern that was applied on any step for target snake (or any snake)
	b. 