@model IEnumerable<string>

<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <button type="button" id="button_start" class="btn btn-default">Start</button>
                <select class="form-control" id="select_speed">
                    <option>1</option>
                    <option>5</option>
                    <option selected>8</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div id="replay_container"></div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            SBN.App.set('settings', {
                snakes: {
                    ids: [@Html.Raw("'" + string.Join("','", Model) + "'")]
                },
                selectors: {
                    container: '#replay_container',
                    buttonStart: '#button_start',
                    selectSpeed: '#select_speed',
                }
            });
            SBN.App.run(['settings', 'Battle', 'ImageLoader', SBN.Show]);
        });
    </script>
}