@model List<string>

<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <button type="button" id="button_start" class="btn btn-default">Start</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div id="replay_container"></div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            SBN.Show({
                //snakes: {
                //    ids: ['da3c18b44e024f19a9f411e77a5460d8']
                //},
                selectors: {
                    container: '#replay_container',
                    buttonStart: '#button_start',
                }
            });
        });
    </script>
}