@model string

<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <button type="button" id="button_save_snake" class="btn btn-default">Save</button>
                <button type="button" id="button_add_chip" class="btn btn-default">Add chip</button>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div id="selector_container"></div>
    </div>
    <div class="col-md-12">
        <div id="chip_container"></div>
    </div>
</div>
<script type="html/template" id="chip_view">
    <div class="col-md-4 chip">
        <div class="kinetic_container"></div>
        <div class="form-horizontal">
            <button type="button" id="button_insert_chip" class="btn btn-default">Insert chip</button>
            <button type="button" id="button_delete_chip" class="btn btn-default">Delete chip</button>
        </div>
    </div>
</script>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            SBN.Edit({
                snake: {
                    id: '@Model'
                },
                selectors: {
                    template: 'script#chip_view',
                    kineticContainer: '.kinetic_container',
                    selctorContainer: '#selector_container',
                    container: '#chip_container',
                    chip: '.chip',
                    insertButton: '#button_insert_chip',
                    deleteButton: '#button_delete_chip',
                    addButton: '#button_add_chip',
                    saveButton: '#button_save_snake'
                }
            }, SBN.Kinetic, SBN.Service.Snake);
        });
    </script>
}
