@model string

<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" id="input_name" placeholder="New name" class="form-control">
                <button type="button" id="button_save_snake" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div id="selector_container"></div>
    </div>
    <div class="col-md-12">
        <div id="chip_container"></div>
        <div class="col-md-4">
            <div class="centering">
                <div class="centered">
                    <button type="button" id="button_add_chip" class="btn btn-default">Add chip</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="html/template" id="chip_view">
    <div class="col-md-4 chip">
        <div class="kinetic_container"></div>
        <div class="form-horizontal">
            <button type="button" id="button_insert_chip" class="btn btn-default">Insert chip</button>
            <button type="button" id="button_delete_chip" class="btn btn-default">Delete chip</button>
        </div>
    </div>
</script>
<script type="html/template" id="alert_view">
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Not Saved</strong>
        <dl></dl>
    </div>
</script>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            SBN.App.set('settings', {
                snake: {
                    id: '@Model'
                },
                selectors: {
                    chipView: 'script#chip_view',
                    alertView: 'script#alert_view',
                    kineticContainer: '.kinetic_container',
                    selctorContainer: '#selector_container',
                    container: '#chip_container',
                    chip: '.chip',
                    insertButton: '#button_insert_chip',
                    deleteButton: '#button_delete_chip',
                    addButton: '#button_add_chip',
                    saveButton: '#button_save_snake',
                    nameInput: '#input_name'
                }
            });
            SBN.App.run(['settings', 'Renderer', 'Snake', 'ImageLoader', SBN.Edit]);
        });
    </script>
}
