@model string

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <div class="col-md-10">
                <button type="button" id="button_get_snake" class="btn btn-default">Get</button>
            </div>
            <div class="col-md-10">
                <button type="button" id="button_save_snake" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#button_get_snake').on('click', function () {
                $.ajax({
                    type: 'GET',
                    url: '/api/Snake/Get?id=' + '@Model',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        window.snake = data;
                        alert('data: ' + JSON.stringify(data));
                    }
                });
            });
            $('#button_save_snake').on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: '/api/Snake/Save',
                    contentType: "application/json",
                    dataType: 'json',
                    data: JSON.stringify(window.snake),
                    success: function (data) {
                        window.snake = data;
                        alert('data: ' + JSON.stringify(data));
                    }
                });
            });
        });
    </script>
}
