@model IEnumerable<SnakeBattleNet.Web.Models.Snake.SnakeViewModel>

<div class="row">
    @foreach (var snake in Model)
    {
        <div class="col-md-2">
            @{Html.RenderPartial("_Snake", snake);}
            @Html.ActionLink("Edit", "Edit", new { id = snake.Id }, new { @class = "btn btn-default btn-xs" })
        </div>
    }
    <div class="col-md-2">
        <div class="centering">
            @Html.ActionLink("Add new", "Add", null, new { @class = "btn btn-default centered" })
        </div>
    </div>
</div>