@model IEnumerable<SnakeBattleNet.Core.Implementation.Snake>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Battle starting here</h2>
</div>
<div class="row">
    <div class="span12">
        <div class="btn">
            <i class="icon-heart"></i>
            @Html.ActionLink("Add warrior", "AddSnake")
        </div>
    </div>
    @if (Model != null)
    {
        foreach (var snake in Model)
        {
        <div class="span6">
            @snake.SnakeName
            <div class="btn pull-right">
                <i class="icon-cog"></i>
                @Html.ActionLink("Train", "EditSnake", new { id = snake.Id })
            </div>
            <div class="btn pull-right">
                <i class="icon-fire"></i>
                @Html.ActionLink("Kill", "RemoveSnake", new { snakeId = snake.Id })
            </div>
        </div>
        }
    }
</div>
